Ticketing-System-Client/xml-resources/web-service-references/TicketingService/wsdl/localhost_8080/Ticketing-System-Server/TicketingService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.com/" name="TicketingService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.com/" schemaLocation="http://localhost:8080/Ticketing-System-Server/TicketingService?xsd=1"/>
</xsd:schema>
</types>
<message name="updateUser">
<part name="parameters" element="tns:updateUser"/>
</message>
<message name="updateUserResponse">
<part name="parameters" element="tns:updateUserResponse"/>
</message>
<message name="getParkir">
<part name="parameters" element="tns:getParkir"/>
</message>
<message name="getParkirResponse">
<part name="parameters" element="tns:getParkirResponse"/>
</message>
<message name="getUserById">
<part name="parameters" element="tns:getUserById"/>
</message>
<message name="getUserByIdResponse">
<part name="parameters" element="tns:getUserByIdResponse"/>
</message>
<message name="getAcara">
<part name="parameters" element="tns:getAcara"/>
</message>
<message name="getAcaraResponse">
<part name="parameters" element="tns:getAcaraResponse"/>
</message>
<portType name="TicketingService">
<operation name="updateUser">
<input wsam:Action="http://server.com/TicketingService/updateUserRequest" message="tns:updateUser"/>
<output wsam:Action="http://server.com/TicketingService/updateUserResponse" message="tns:updateUserResponse"/>
</operation>
<operation name="getParkir">
<input wsam:Action="http://server.com/TicketingService/getParkirRequest" message="tns:getParkir"/>
<output wsam:Action="http://server.com/TicketingService/getParkirResponse" message="tns:getParkirResponse"/>
</operation>
<operation name="getUserById">
<input wsam:Action="http://server.com/TicketingService/getUserByIdRequest" message="tns:getUserById"/>
<output wsam:Action="http://server.com/TicketingService/getUserByIdResponse" message="tns:getUserByIdResponse"/>
</operation>
<operation name="getAcara">
<input wsam:Action="http://server.com/TicketingService/getAcaraRequest" message="tns:getAcara"/>
<output wsam:Action="http://server.com/TicketingService/getAcaraResponse" message="tns:getAcaraResponse"/>
</operation>
</portType>
<binding name="TicketingServicePortBinding" type="tns:TicketingService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getParkir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAcara">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TicketingService">
<port name="TicketingServicePort" binding="tns:TicketingServicePortBinding">
<soap:address location="http://localhost:8080/Ticketing-System-Server/TicketingService"/>
</port>
</service>
</definitions>