Ticketing-System-Client/xml-resources/web-service-references/TicketingService/wsdl/localhost_8080/Ticketing-System-Server/TicketingService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://server.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server.com/">

<xs:element name="getAcara" type="tns:getAcara"/>

<xs:element name="getAcaraResponse" type="tns:getAcaraResponse"/>

<xs:element name="getUserById" type="tns:getUserById"/>

<xs:element name="getUserByIdResponse" type="tns:getUserByIdResponse"/>

<xs:element name="updateUser" type="tns:updateUser"/>

<xs:element name="updateUserResponse" type="tns:updateUserResponse"/>

<xs:complexType name="getUserById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="identitasList" type="tns:identitas" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="noTelp" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="saldo" type="xs:double"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="identitas">
<xs:sequence>
<xs:element name="alamat" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nama" type="xs:string" minOccurs="0"/>
<xs:element name="noKTP" type="xs:string" minOccurs="0"/>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAcara">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAcaraResponse">
<xs:sequence>
<xs:element name="return" type="tns:acara" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="acara">
<xs:sequence>
<xs:element name="deskripsi" type="xs:string" minOccurs="0"/>
<xs:element name="harga" type="xs:double"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="kuota" type="xs:int"/>
<xs:element name="lokasi" type="xs:string" minOccurs="0"/>
<xs:element name="nama" type="xs:string" minOccurs="0"/>
<xs:element name="tanggalAcara" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateUser">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="noKtp" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>